*.iml
.kotlin
.gradle
**/build/
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
node_modules/

# Xcode
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
