TODO.md
README.pdf
!docs/README.pdf
README_*.md
README_*.pdf
mermaid-filter.err

PRESENTATION.pdf
PRESENTATION_*.md
PRESENTATION_*.pdf

*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
**/.build/
freepath-wasm/src/test-fixtures/target/
freepath-libp2p/src/androidMain/jniLibs/
